.books_main {
  position: relative;
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
  background-color: var(--primary-color2);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23557153' fill-opacity='0.90' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.books_container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  row-gap: 1em;
  align-content: space-between;
}

.book_card {
  min-width: 300px;
  min-height: 500px;
  z-index: 99999;
  background-color: rgb(85, 113, 83, 0.6);
  font-size: 2rem !important;
  padding: 1.5em;
  border: 2px solid var(--primary-color2);
}

.card_head {
  margin-bottom: 1em;
  position: relative;
  min-width: 100px;
}
.head_img {
  min-width: 100%;
  min-height: 200px;
  max-height: 200px;
  max-width: 300px;
  border: 4px solid var(--secondary-color2);
}
.card_body {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: var(--secondary-color2);
}

.card_body > button {
  padding: 0.5em;
  min-width: 35%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #f70000;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.title {
  font-size: 1.2em;
  margin-bottom: 1em;
}

h2 {
  color: white;
  font-size: 3rem;
  z-index: 9999999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.evenBg {
  background-color: black !important;
}


.searchBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.searchBar {
  z-index: 9999999;
  padding: 1rem;
  font-size: 1.8rem;
  width: 50%;
  border-radius: 5px;
}
