<main class="books_main">
  <div *ngIf="bookService.books.length === 0; else books_container">
    <h2>There's no books.</h2>
  </div>
  <ng-template #books_container>
    <div class="searchBarContainer"><input class="searchBar" type="number" placeholder="Search by ID" #id
        (change)="searchBarHandler(id.value)"></div>
    <ng-container *ngIf="id.value; else allBooks">
      <div class="book_card">
        <app-book-card [book]="selectedBook"></app-book-card>
      </div>
    </ng-container>
    <ng-template #allBooks>
      <div class="books_container">
        <app-book-card *ngFor="let book of bookService.books; even as isEven; index as index" [isEven]="isEven"
          [book]="book" (deleteEvent)="deleteBook($event)"></app-book-card>
      </div>
    </ng-template>

  </ng-template>
</main>