<main class="register_main">
    <img src="../../../assets/img/bg1.jpg">
    <form>
        <div class="title_container">
            <h2>Register to join our community!</h2>
        </div>
        <div class="input_container">
            <input type="text" placeholder="Name">
        </div>
        <div class="input_container">
            <input type="text" placeholder="Surname">
        </div>
        <div class="input_container">
            <input type="email" placeholder="Email">
        </div>
        <div class="input_container">
            <input type="text" placeholder="URL">
        </div>
        <div class="input_container">
            <input type="password" placeholder="Password">
        </div>
        <div class="input_container">
            <input type="password" placeholder="Repeat password">
        </div>
        <button mat-raised-button color="accent" type="button">Register</button>
    </form>
</main>