/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  --primary-color1: #557153;
  --primary-color2: #7d8f69;
  --secondary-color1: #a9af7e;
  --secondary-color2: #e6e5a3;
}

a {
  text-decoration: none !important;
}
a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:focus {
  border-bottom: inherit;
  background: inherit;
}

a:hover {
  border-bottom: inherit;
  background: inherit;
}

a:active {
  background: inherit;
  color: inherit;
}

input {
  border: none;
}
input:focus {
  outline: none;
}
.swal2-popup {
  font-size: 2rem !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 1250px) {
  :root {
    font-size: 8px;
  }
  .login_main > form {
    width: 70% !important;
  }
  .register_main > form {
    padding: 3em 0 !important;
    font-size: 4px;
    width: 60% !important;
  }
  .register_main > form > .title_container > h2 {
    font-size: 3rem !important;
    margin-bottom: 1em;
  }
  .landing_main > h2 {
    font-size: 5rem !important;
  }
  footer > img {
    width: 3.5% !important;
  }
  .profile_container {
    width: 90% !important;
  }
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 8px;
  }
  .login_main > form {
    width: 100% !important;
  }
  .register_main > form {
    width: 100% !important;
  }
  .landing_main > h2 {
    font-size: 4rem !important;
  }
  footer > img {
    width: 5% !important;
  }
  .profile_container {
    width: 100% !important;
  }
  .edit_profile > input,
  .current_profile > span {
    width: 100% !important;
  }
}
